---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import IntroSection from "../components/IntroSection.astro";
import TestimonialWilhelm from "../components/TestimonialWilhelm.astro";
import MistakesSection from "../components/MistakesSection.astro";
import AskYourselfSection from "../components/AskYourselfSection.astro";
import TestimonialDejan from "../components/TestimonialDejan.astro";
import AdvertisingSection from "../components/AdvertisingSection.astro";
import LowestHangingFruitSection from "../components/LowestHangingFruitSection.astro";
import TestimonialJake from "../components/TestimonialJake.astro";
import TrustSection from "../components/TrustSection.astro";
import HowItWorksSection from "../components/HowItWorksSection.astro";
import PricingSection from "../components/PricingSection.astro";
import GuaranteeSection from "../components/GuaranteeSection.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import FinalCtaSection from "../components/FinalCtaSection.astro";
import FaqSection from "../components/FaqSection.astro";
import ClosingCtaSection from "../components/ClosingCtaSection.astro";
import FooterSection from "../components/FooterSection.astro";
---

<Layout>
  <main>
    <HeroSection />
    <IntroSection />
    <TestimonialWilhelm />
    <MistakesSection />
    <AskYourselfSection />
    <TestimonialDejan />
    <AdvertisingSection />
    <LowestHangingFruitSection />
    <TestimonialJake />
    <TrustSection />
    <HowItWorksSection />
    <PricingSection />
    <GuaranteeSection />
    <TestimonialsSection />
    <FinalCtaSection />
    <FaqSection />
    <ClosingCtaSection />
    <FooterSection />
  </main>
</Layout>
